@import "tailwindcss";


.scroll-hidden{
    scrollbar-width: none !important;
}

.transform-component-module_wrapper__SPB86{
    margin: 0 auto;
}

.showButton {
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.show_div:hover .showButton {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.4s ease-in-out;
}



.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

